* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-red: #E3646E;
    --color-purple: #BB72E9;
    --color-blue: #3996DB;
    --color-green: #82BC4F;
    --color-yellow: #EABD5F;

    --gray-100: #0D0E11;
    --gray-200: #16181D;
    --gray-300: #292C34;
    --gray-400: #878EA1;
    --gray-500: #C0C4CE;
    --gray-600: #E2E4E9;

    --font-family-asap: "Asap", sans-serif;
    --title-lg: 700 56px/120% var(--font-family-asap);
    --title-mg: 700 24px/120% var(--font-family-asap);
    --title-sm: 700 16px/120% var(--font-family-asap);

    --font-family-inconsolata: "Inconsolata", monospace;
    --subtitle: 400 20px/120% var(--font-family-inconsolata);

    --font-family-maven: "Maven Pro", sans-serif;
    --text-md: 400 16px/140% var(--font-family-maven);
    --text-sm: 400 14px/140% var(--font-family-maven);
}

body {
    font: var(--title-sm);
    color: var(--gray-500);
    background-color: var(--gray-300);
}

.card:hover {
    border: 1.5 solid var(--gray-400);
}

.social-button:hover {
    border: 1.5 solid var(--color-blue);
}

#intro {
    width: 100vw;
    height: 750px;
    background: url(../assets/image/Background_Intro.png) no-repeat center/cover;
}

#projects {
    width: 100vw;
    height: 917px;
}

#services {
    width: 100vw;
    height: 480px;
    background-color: var(--gray-200);
}

#contact {
    width: 100vw;
    height: 787px;
}