* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-red: #E3646E;
    --color-purple: #BB72E9;
    --color-blue: #3996DB;
    --color-green: #82BC4F;
    --color-yellow: #EABD5F;

    --gray-100: #0D0E11;
    --gray-200: #16181D;
    --gray-300: #292C34;
    --gray-400: #878EA1;
    --gray-500: #C0C4CE;
    --gray-600: #E2E4E9;

    --font-family-asap: "Asap", sans-serif;
    --title-lg: 700 56px/120% var(--font-family-asap);
    --title-md: 700 24px/120% var(--font-family-asap);
    --title-sm: 700 16px/120% var(--font-family-asap);

    --font-family-inconsolata: "Inconsolata", monospace;
    --subtitle: 400 20px/120% var(--font-family-inconsolata);

    --font-family-maven: "Maven Pro", sans-serif;
    --text-md: 400 16px/140% var(--font-family-maven);
    --text-sm: 400 14px/140% var(--font-family-maven);
}

body {
    font: var(--title-sm);
    color: var(--gray-500);
    background-color: var(--gray-200);
    width: 100%;
    height: 100vh;
}

#projects .project-card:hover {
    border: 1.5px solid var(--gray-400);
}

.social-button:hover {
    border: 1.5 solid var(--color-blue);
}

#intro {
    width: 100%;
    background: url(../assets/image/Background_Intro.png) no-repeat center/cover;
    padding-block: 120px 57px;
    display: flex;
    flex-direction: column;
    row-gap: 94px;
}

#projects {
    width: 100%;
    height: 917px;
    padding-inline: 120px;
    padding-block: 72px 144px;
    margin-inline: auto;
    display: grid;
    justify-content: center;
    row-gap: 56px;
}

#services {
    width: 100%;
    height: 480px;
    background-color: var(--gray-100);
    padding-block: 88px 120px;
    padding-inline: 120px;
    display: grid;
    row-gap: 56px;
}

#contact {
    background: url(../assets/image/Background_Contacts.png) no-repeat center/100%;
    width: 100%;
    height: 787px;
    display: flex;
    flex-direction: column;
    row-gap: 48px;
    padding-inline: 120px;
    padding-block: 128px;
}
