.tags {
    max-width: 754px;
    margin-inline: auto;
    display: flex;
    column-gap: 1rem;
    justify-content: left;
    align-items: top;
}

.tag {
    display: flex;
    column-gap: 8px;
    justify-content: center;
    align-items: center;
    background-color: var(--gray-300);
    border-radius: 999px;
    padding: 8px 16px;
}

.tag img {
    width: 24px;
}

.caret {
    text-align: center;
}

.cards {
    max-width: 1040px;
    display: grid;
    grid-template-columns: repeat(3, 330px);
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.project-card {
    width: 330px;
    height: 280px;
    border-radius: 12px;
    background-color: var(--gray-300);
    padding: 12px 12px 17px;
    display: grid;
    row-gap: 20px;
    transition: border .2s ease-in-out;
}

.project-card img {
    width: 306px;
    border-radius: 8px;
}

.card-text {
    max-width: 306px;
    padding: 4px;
    display: grid;
    row-gap: 8px;
}

.card-text h3 {
    font: var(--title-sm);
    color: var(--gray-600);
}

.card-text p {
    font: var(--text-sm);
    color: var(--gray-500);
}

.services {
    max-width: 888px;
    margin-inline: auto;
    display: flex;
    column-gap: 24px;
    justify-content: center;
    align-items: center;
}

.services-card {
    width: 280px;
    padding: 20px;
    display: grid;
    row-gap: 20px;
    border: 2px solid var(--gray-200);
    border-radius: 12px;
}

.services-card img {
    margin: auto;
}

.services-card header {
    display: grid;
    row-gap: 8px;
    width: 240px;
    text-align: center;
    align-items: start;
    justify-content: center;
}
