.font-subtitle {
    font: var(--subtitle);
}

.color-red {
    color: var(--color-red);
}

.color-purple {
    color: var(--color-purple);
}

.font-title-md {
    font: var(--title-md);
}

.color-gray-600 {
    color: var(--gray-600);
}